ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.container-fluid{
    background-color: #282c34;
    margin: 0;
    padding: 0;

}
li{
    color: white;
    font-size: 1.6rem;
    // border: 3px solid red;
    text-align: center;
    padding: 2rem 0;
    border-top: 1px solid rgba(0,0,0,.3);
    border-bottom: 1px solid hsla(0,0%,100%,.04);
    cursor: pointer;
}