<div class="card" (click)="navigateToDetailsPage(companyServices)"  >
    <div class="card__side card__side--front" >
        <div class="card__picture "  >
           <img src={{companyServices.imageUrl}} style=" height: 100%; max-width: 100%;border-radius: 10px;"/>
        </div >
        <h4 class="card__heading " >
            <span class="card__heading-span "  >{{companyServices.title}}</span>
        </h4>
 

    </div>
    <div class="card__side card__side--back ">
        <div class="card__cta" style="border-radius: 10px;">
            <div class="card__price-box">
                <p class="card__pricebox--only">Only</p>
                <p class="card__pricebox--price">{{companyServices.price}}$</p>


                 <div class="submit">
    <button  class="btn submit__btn submit__btn-yellow">View Details</button>
  </div>
            </div>
         
        </div>
    </div>
</div>
