<div class="container-fluid">
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Full Name</th>
    <th scope="col">Phone Number</th>
    <th scope="col">Email Address</th>
    <th scope="col">Service Subscription</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let client of clients; index as i"  >
      
    <th scope="row" >{{ i + 1 }}</th>
    <td >
      {{ client.fullName }}
    </td>
    <td >{{ client.phoneNumber  }}</td>
    <td >{{ client.email  }}</td>
    <td >
        <ul *ngFor="let service of client.subscribedService ">
           <li> {{service.title }}</li>  
              
       </ul>
      
    
    
    </td>
  </tr>
  </tbody>
</table>
</div>