<div class="container">
  <div class="heading center-text">
    <h1>ABOUT Wasta?</h1>
    <div class="heading__desc">Wasta is a digital agency consists of strategists, creative minds, technologists, designers, marketers, storytellers, and inventors. We pursue relationships based on transparency, persistence, mutual trust, and integrity with our employees, customers and other business partners.</div>
  </div>
  <div class="about-body">

  <section class="about-section">
      <div class="row">
        <h1 class="col-12 col-lg about-section__title center-text">why choose us ?</h1>
        <div class="col-12 col-lg about-section__description">
          <div class="about-section__description-paragraph">
            A Google search on the phrase 'digital marketing agency' produces
            over 59,800,000 results.
          </div>
          <div class="about-section__description-paragraph">
            All good agencies must be transparent, performance led, innovative, agile, results driven and passionate
          </div>
          <div class="about-section__description-paragraph">
            in their approach to be able to bring new clients on board and exceed their expectations.
          </div>
        </div>
      </div>

    
  </section>
  <section class="about-section">
    <div class="row">
      <h1 class="col-12 col-lg about-section__title center-text">So what makes us special?</h1>
      <div class="col-12 col-lg about-section__description">
        <div class="about-section__description-paragraph" >
            Our approach is simple. 
        </div>
        <div class="about-section__description-paragraph">
            Not only do we produce the digital goods, but we understand that it takes more than results to do a good job. We know that reporting, deadlines, account management, knowledge sharing, creativity and interest in your brand/sector/business are all equally important.
        </div>
        <div class="about-section__description-paragraph">
            This means that our key focus is not only on being a great digital agency, but we also focus on being a great service agency.


        </div>
      </div>
    </div>

  
</section>
<section class="about-section">
    <div class="row">
      <h1 class="col-12 col-lg about-section__title center-text">Our Approach</h1>
      <div class="col-12 col-lg about-section__description">
        <div class="about-section__description-paragraph" >
            We start with your individual requirements and business/marketing objectives and then build the strategy around them.
        </div>
        <div class="about-section__description-paragraph">
            This might include:
        </div>
        <div class="about-section__description-paragraph">
            Coming up with strategies for complex campaigns and/or for brands that are new to online – and anywhere in between
            Account management to reflect your department structure and reporting needs – not vice versa
            These steps to make your marketing seriously good.


        </div>
      </div>
    </div>

  
</section>
</div>
<div class="center-text callus" >
<div class="callus__btn btn "routerLink='/contact-us'>Call Us Now !</div>    


</div>

</div>
