<div class="container">

<div class="row">

<div class="col-12 col-xl-4"   *ngFor =" let service of Services">
    <app-card  [companyServices]=" service "></app-card>

  
    
</div>

<div class="custom__card" >

    <div class="card custom__card-1"   >
        <div class="card-body">
            <form [formGroup]="customServiceForm" (ngSubmit)="onSubmit()">
                <div class="form-group ">
                  <label for="name" class="form-group__label">service what you Want</label>
                  <input type="text" class="form-control form-group__input" id="name"  placeholder="Enter description"  formControlName="serviceName">
                </div>
                <div class="form-group">
                  <label for="price" class="form-group__label"> price</label>
                  <input type="number" class="form-control form-group__input" id="price" placeholder="Enter price You Want to Pay"  formControlName="price">
                </div>
            
               
                  <div class="submit">
                <button type="submit" class="btn submit__btn submit__btn-yellow" >Submit</button>
            </div>
              </form>
            
          </div>














        <!-- <div class="card__side card__side--front" >
            <div class="card__picture "  >
               <img src="./assets/backgound.jpg" style=" height: 100%; max-width: 100%;border-radius: 10px;"/>
            </div >
            <h4 class="card__heading " >
                <span class="card__heading-span">Custom Service </span>
            </h4>
         <div>HIIIi</div>
     
    
        </div> -->
  
        <!-- <div class="card__side card__side--back ">
            <div class="card__cta" style="border-radius: 10px;">
                <div class="card__price-box">
                    <p class="card__pricebox--only">pay what you Want</p>
                    <p class="card__pricebox--price">description</p>
    
    
                     <div class="submit">
        <button  class="btn submit__btn submit__btn-yellow">View Details</button>
      </div>
                </div>
             
            </div>
        </div> -->
    </div>
</div>






</div>







</div>
