
<div class="container">

<div class="row center-text"  >
<div class="heading" >
    <h2 class="heading__main">Full Service Digital Marketing Agency</h2>
    <p class="heading__secondary" >Search Engine & Social Media Optimization Experts</p>

</div>
</div>
<div class="row" style="margin-bottom: 10rem;">
<carousel [cellsToShow]="3" [autoplay]="true" [dots]='true' [transitionTimingFunction]="'ease-in-out'" [arrowsOutside]="true">
    <div class="carousel-cell" *ngFor=" let service of services ">
     <div   style="margin-left: 2rem;">
       
        <div class="card-body" style="padding: 3rem;"  (click)="navigateToService(service)">
        
        
            <img class="card-img-top" src={{service.imageUrl}} alt="Card image cap"  style="max-width: 100%;max-height: 100%;" >
         
          </div>
        


</div>
    </div>
    
 
</carousel>
</div>


</div>