<div class="container">
  <div class="card" style="width: 50%; margin-left: 10rem">
    <div class="card-body">
      <div   class="alert alert-danger  center-text" *ngIf="errorMessage" style="font-size:1.6rem;margin-top:2rem;padding:3rem 0">{{errorMessage}}</div>
      <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email" class="form-group__label">Email address</label>
          <input
            type="email"
            class="form-control form-group__input"
            id="email"
            placeholder="Enter email"
            formControlName="email"
          />
          <div
            *ngIf="
              adminForm.get('email').invalid &&
              ( adminForm.get('email').touched)
            "
            class="alert alert-danger error-message"
          >
            <div *ngIf="adminForm.get('email').errors.required">
              Email is required.
            </div>
            <div *ngIf="adminForm.get('email').errors.email">
              Input must be email
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="form-group__label"> Password </label>
          <input
            type="password"
            class="form-control form-group__input"
            id="name"
            placeholder="Password"
            formControlName="password"
          />
          <div
            *ngIf="
              adminForm.get('password').invalid &&
              (
                adminForm.get('password').touched)
            "
            class="alert alert-danger error-message"
          >
            <div *ngIf="adminForm.get('password').errors.required">
              Password is required.
            </div>
            <div *ngIf="adminForm.get('password').errors.minlength">
              password must be at least 5 characters
            </div>
          </div>
        </div>

        <div class="submit">
          <button type="submit" class="btn submit__btn submit__btn-yellow">
            Add Admin
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
