<div class="container-fluid" >
<div  class="row" style="padding:0 15rem;">
<img src="./assets/home-img.jpg" alt="" style="width: 100%; max-height: 10%;">

</div>
    <div class="submit"  >
        <button type="submit" class="btn submit__btn submit__btn-yellow" routerLink='/contact-us'  >Have Any Question ?</button>
    </div>


<div class="row middle-section" >
    <div class="col-lg-4 col-12" >
        
       <img class="middle-section__img" src="./assets/Home-img.png" />
    
    
    
    </div>
    <div class="col-lg-8 col-12 text" >
    
    <h2 class="text__heading center-text">Appear On the Front Page of Google!</h2>
    <p class="text__description">At Wasta Marketing we offer professional SEO services that help websites increase their organic search score drastically in order to compete for the highest rankings — even when it comes to highly competitive keywords.</p>
    <ul class="text__list">
    <li>
        <i class="fas fa-male"></i>
       <P>Connect with pre-qualified customers</P> 
    
    </li>
    <li>
        <i class="fas fa-clock"></i>
        <p>Save time and money</p>
    </li>
    <li>
        <i class="fas fa-trophy"></i>
        <p>Rely on an experienced and knowledgeable team</p>
    
    </li>

    </ul>
    
    <div class="submit"  >
        <button type="submit" class="btn submit__btn submit__btn-yellow" routerLink='/about' style="width: 40%;margin:3rem 5rem 4rem 0"> About US</button>
    </div>

    
    </div>
</div>


<!-- <app-offered-services ></app-offered-services> -->











</div>
