<div class="container-fluid">
  <h1 class="center-text">
    Please contact us using the form and we’ll get back to you as soon as
    possible.
  </h1>
  <div >
    <div class="row card-contact"  >
      <div class="col-12 col-xl info " >
        <div class="contact">
          <i class="fas fa-phone contact__icon"></i>
          <div class="contact__info" >+20 1006750121</div>
        </div>
        <div class="contact">
          <i class="fas fa-envelope-square contact__icon"></i>
          <div class="contact__info"> <a href= "mailto:info@wasta.agency"> info@wasta.agency</a></div>
        </div>

        <div class="contact">
          <i class="fas fa-map-marker-alt contact__icon"></i>
          <div class="contact__info">
            Capital Business Park Giza,  Egypt
          </div>
        </div>
        <div class="socialmedia contact">
        <a class="socialmedia__facebook "  href="https://www.facebook.com/Wasta.agency/" target="_blank"><i class="fab fa-facebook"></i></a> 
        <a class="socialmedia__instegram"  href="https://www.instagram.com/wasta.agency/?fbclid=IwAR34N4miiZO6b62MjPmi9ITnuZ-22oOD0oeq_n5LrL_XlqyG3bd4JyPuwhA"  target="_blank"><i class="fab fa-instagram"></i></a> 

        </div>
      </div>
      <div class="col-12 col-xl form"><app-contact-form></app-contact-form></div>
    </div>
  </div>
</div>
